.navList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.navLink {
  font-size: 14px;
  color: #5b5d63;
  text-transform: uppercase;
  color: #ffffff;
  transition: color 300ms;

  @media screen and (min-width: 768px) {
    font-size: 20px;
  }

  &:hover,
  &:focus {
    color: #1890ff;
  }
}
